
.home-intro{
    background-image: url("../images/mainimg2.jpg");
    background-color: #c5c5c5ee;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    height: 100vh;
    text-align: center;
    padding-top: 35vh ;
    width: 100%;
 }

 header{
    --text: #f4f4f4;
    --text-inverse: #333;
    --background: transparent;
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 250ms ease-in;
    background: var(--background);
    color: var(--text);
}
.black{
    background-color: black;
}
.border{
    border: 1px solid red;
}
.nav-scrolled {
    --text: #333;
    --text-inverse: #f4f4f4;
    --background: black;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}
.nav-item{
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #fff;
}
.nav-item:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 51%;
    right: 50%;
    background: #ff5521;
    transition-property: left,right;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}
.nav-item:hover:before, .nav-item:focus:before, .nav-item:active:before{
    border: 1px solid #ff5521;
    left: 0;
    right: 0;
}
.nav-item:hover{
    color: #f4f4f4;
    font-weight: 500;
}
 @media (max-width:991px){
    .sidebar{
        background-color: rgba(250, 255, 255,0.15);
        backdrop-filter: blur(15px);
    }
    .a1{
        font-size: 40px;
    }
    .home-intro{
        padding-top: 20vh;
    }
    .home-intro p{
        font-size: 20px;
        font-weight: 500;
    }
    .home-intro p{
        font-size: 20px;
        font-weight: 500;
    }
 }
.a1{
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.icon i{
    /* border: 1px solid rgb(218, 23, 23); */
    height: 120px;
    width: 35%;
    font-size: 75px;
    background-color: #ffcc15ea;
    padding-top: 25px;
    color: #fff;
    align-items: center;
    justify-content: center;
}
@media (max-width:991px){
    .col-md-4{
        width:100%; 
    }
}
.pg-section{
    padding: 6rem 0px;
    justify-content: center;
}
.portfolio{
    padding-top: 10px;
    padding-bottom: 120px;
    height: auto;
    width: 100%;
}

.portfolio-content{
    /* border: 1px solid red;  */
    height: 370px;
}
.portfolio-img{
    position: relative;
    /* border: 1px solid blue; */
    height: 269px;
}
.p-img{
    display: block;
    width: 100%;
    height: 269px;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: aqua;
    transition: 0.5 ease;
}
.portfolio-img:hover .overlay{
    opacity: 0.8;
    
}
.text{
    color: #fff;
    font-size: 185px;
    position: absolute;
    top: 45%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    text-align: center;
}

.about{
    padding-top: 25px;
    padding-bottom: 120px;
    height: auto;
    width: 100%;
    background-color: rgb(181, 216, 247);
}
.about-content{
    /* border: 1px solid black; */
    position: relative;
    padding: 0;
    list-style: none;
    height: auto;
    display: flex;
    flex-direction: column;
}
.about-content:before{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: rgb(241, 230, 230);
    content: "";
    margin-left: 2px;
}
.about-img{
    border:4px solid #adb5bd;
    height: 150px;
    width: 150px;
}
.about-images{
    position: relative;
    width: fit-content;
    margin-left: 30px;
    left: 42.5%;
}
.about-text{
    margin-top: -135px;
    float: left;
    position: relative;
    width: 45%;
    top: -100%;
    padding: 0px 35px 5px 10px;
    text-align: right;
}
.about-text1{
    margin-top: -135px;
    float: right;
    position: relative;
    width: 40%;
    padding: 0px 35px 5px 10px;
    text-align: left;
}
.about-images1{
    position: relative;
    width: fit-content;
    margin-left: 30px;
    left: 42.5%;
}
.about-images:before{
    left: 42.5%;
}
.about-images1 h4{
    padding-top: 30px;
}
.contact{
    height: auto;
    background-color: #eeee;
    background-image: url("../images/galaxy.jpg");
    background-position: center;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
}
.form{
    width: 100%;
    padding: 10px;

}
.f1{
    padding: 15px;
    width: 100%;
}
.footer{
    height: fit-content;
}
.ism{
    /* border: 1px solid red; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 100px; */
}
.iconsm{
    background-color: #fdc90b;
    width: 10%;
    text-align: center;
    padding: 5px 5px 5px ;
    font-size: 20px;
    float: left;
}

@media (max-width:991px){
    .footer{
        height:auto;
        text-align: center;
        display: flex;
        align-self: center;
        font-size: 25px;
    }
    .iconsm{
        margin-left: 150px;
    }
    .about{
        height: auto;
    }
    .about-content{
        width: 100%;
    }
    .about-content:before{
        /* border: 1px solid black; */
        width: 2px;
        left: 32%;
        align-items: center;
        background-color: transparent;
    }
    .about-img{
        height: 180px;
        width: 180px;
        text-align: center;
    }
    .about-images{
        /* border: 1px  solid red; */
        left: 2%;
        margin-top: 50px;
    }
    .about-images1{
        left: 2%;
        margin-top: 10px;
    }
    .about-text{
        width: auto;
        margin-top: -150px;
        padding-left: 45px;
        text-align: left;
        margin-left: 190px;
    }
    .about-text1{
        width: auto;
        margin-top: -140px;
        padding-left: 50px;
        text-align: left;
        margin-left: 190px;
    }
    .home-intro p{
        font-size: 20px;
    }
    .home-intro a{
        font-size: 18px;
    }

}
/* @media (max-width:991px){
    h1{
        font-size: 25px;
    }
} */
@media (max-width:768px){
    .home-intro p{
        font-size: 20px;
    }
    .home-intro a{
        font-size: 18px;
    }
}

  
